@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

body{
   
    font-family: "Radio Canada Big", sans-serif;
}
.price-font{
    font-family: "Condiment", cursive;
}
.discount-font{
    font-family: "Grey Qo", cursive;
}
.google{
    /* font-family: "Fleur De Leah", cursive; */
    font-family: "Rochester", cursive;
}
.span{
    font-family: "Rochester", cursive;
}

.bg{
    background-color: blue;
}

.our-img{
    box-shadow: 10px 10px 20px blue;
    
}
.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: auto;
}
.blue{
    box-shadow: rgba(9, 9, 224, 0.755) 0px 18px 18px;
}

/* bg-img-container */
.bg-img-container{
    background-image: url(./new-img/blue.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.category-item1{
    background-image: url(./new-img/b-7.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 250px;
}
.category-item2{
    background-image: url(./new-img/cover-2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 250px;
}
.category-item2{
    background-image: url(./new-img/b-blue.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 250px;
}
.category-item3{
    background-image: url(./new-img/cover-2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 250px;
}
.category-item4{
    background-image: url(./new-img/cover-4.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 250px;
}
.category-item5{
    background-image: url(./new-img/b-13.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 250px;
}
.category-item6{
    background-image: url(./new-img/b-2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 250px;
}