@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
body{
   
    font-family: "Radio Canada Big", sans-serif;
}

.span{
    font-family: "Rochester", cursive;
}

.our-img{
    box-shadow: 10px 10px 20px blue;
    
}
.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: auto;
}
.blue{
    box-shadow: rgba(9, 9, 224, 0.755) 0px 18px 18px;
}
